<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import HelloWorld from "./components/HelloWorld.vue";
import styles from "./assets/example.module.css";

// import logo from "./assets/logo.png";
// console.log(logo);
// const logo = "./assets/logo.png";
// const logo = new URL("./assets/logo.png", import.meta.url).href;
</script>

<template>
  <!--
  <img alt="Vue logo" src="./assets/logo.png" />
  -->
  <!--
  <img alt="Vue logo" :src="logo" />
  -->
  <img alt="Vue logo" src="/logo.png" />
  <h1 :class="styles.example">Hello CSS Modules</h1>
  <HelloWorld msg="Hello Vue 3 + Vite" />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
