<script setup lang="ts">
import { computed } from 'vue'
import { mapWritableState } from 'pinia'
import { useUserStore } from "@/stores/user";
const store = useUserStore()
store.$subscribe( ( mutation, state ) => {
  console.log( state )
  // import { MutationType } from 'pinia'
  console.log( mutation.type ) // 'direct' | 'patch object' | 'patch function'
  // same as useUserStore.$id
  console.log( mutation.storeId ) // 'user'
  // only available with mutation.type === 'patch object'
  console.log( mutation.payload ) // patch object passed to useUserStore.$patch()
  // persist the whole state to the local storage whenever it changes
  localStorage.setItem( 'user', JSON.stringify( state ) )
  console.log( localStorage )
} )

const myVal = computed( () => mapWritableState( useUserStore, {
  myOwnName: 'count'
} ) )
</script>

<template>
  <div>
    <button @click=" store.count++ ">count ++</button>
    <button @click=" store.$reset() ">reset store</button>
    <button @click=" store.$patch( {
      count: store.count + 1,
      age: 120,
      name: 'DIO',
    } ) ">change state 1</button>
    <button @click=" store.$patch( ( state ) => {
      state.userList.push( { name: 'manuel', age: 19 } )
      state.hasChanged = true
    } ) ">change state 2</button>
    <button @click=" store.$patch( { count: 24 } ) ">Replacing state</button>
    <hr />
    <p>
      mapWritableState
      <code>{{ myVal }}</code>:
    </p>
    <p>
      Complete store state via
      <code>store.$state</code>:
    </p>

    <pre>{{ store.$state }}</pre>
  </div>
</template>

<style scoped>
button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
</style>