<!-- app.vue -->
<script setup lang="ts">
// This will work in both `<script setup>` and `<script>`
definePageMeta({
  layout: "custom",
});
</script>
<template>
  <div>
    <h1>page <span class="badge badge-secondary">define meta</span></h1>
  </div>
</template>