<script setup lang="ts">
import { Field, Form, ErrorMessage } from 'vee-validate';

interface Values {
  email: string
}

// const onSubmit = () => console.log('Submitted');
// const onSubmit = () => console.log('Submitting :(');
// const onSubmit = (values: Values) => console.log(values);

const onSubmit = (values: Values): void => console.log(JSON.stringify(values, null, 2));

const validateEmail = function (value: string): boolean | string {
  // if the field is empty
  if (!value) {
    return 'This field is required';
  }
  // if the field is not a valid email
  const regex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
  if (!regex.test(value)) {
    return 'This field must be a valid email';
  }
  // All is good
  return true;
}; 
</script>
<template>
  <!-- <form @submit.prevent="onSubmit"> -->
  <Form @submit="onSubmit">
    <!-- <input type="email" name="email" /> -->
    <!-- <Field name="email" type="email" />-->
    <Field name="email" type="email" :rules="validateEmail" />
    <ErrorMessage name="email" />
    <button>Sign up for newsletter</button>
  </form>
</template> 
