<script setup>
const route = useRoute()
// When accessing /posts/1, route.params.id will be 1
console.log(route.params.id)


definePageMeta({
  validate: async (route) => {
    const nuxtApp = useNuxtApp()
    // Check if the id is made up of digits
    const isValid = /^\d+$/.test(route.params.id)
    console.log(isValid)
    return isValid
  }
})
</script>
<template>
  <div>post número: {{ route.params.id }}</div>
</template>