<script setup lang="ts">
import { ref, reactive } from "vue";
// components
import BaseCheckbox from "@/components/BaseCheckbox.vue";
import BaseButton from "@/components/BaseButton.vue";
import BaseSelect from "@/components/BaseSelect.vue";
import BaseInput from "@/components/BaseInput.vue";
import BaseRadioGroup from "@/components/BaseRadioGroup.vue";
// 
// types
import type Event from "@/types/Event";
//
const categories = ref<string[]>([
  'sustainability',
  'nature',
  'animal welfare',
  'housing',
  'education',
  'food',
  'community'
])
const event: Event = reactive({
  category: '',
  title: '',
  description: '',
  location: '',
  pets: 1,
  extras: {
    catering: false,
    music: false
  }
})

const createEvent = () => {
  console.log('submit')
} 
</script>

<template>
  <div>
    <h1>Create an Event</h1>
    <form @submit.prevent="createEvent">
      <BaseSelect label="Select a category" :options="categories" v-model="event.category"
        error="This field is required" />

      <h3>Name & describe your event</h3>
      <BaseInput label="Title" v-model="event.title" type="text" error="This field is required" />

      <BaseInput label="Description" v-model="event.description" type="text" />

      <h3>Where is your event?</h3>
      <BaseInput label="Location" v-model="event.location" type="text" />

      <h3>Are pets allowed?</h3>
      <BaseRadioGroup v-model="event.pets" name="pets" :options="[
        { value: 1, label: 'Yes' },
        { value: 0, label: 'No' }
      ]" />

      <template v-if="event.pets === 0">
        <h3>Are you sure? 🐶</h3>
        <BaseRadioGroup v-model="event.petsagain" name="petsagain" :options="[
          { value: 1, label: 'Yes' },
          { value: 0, label: 'No' }
        ]" />
      </template>

      <h3>Extras</h3>
      <div>
        <BaseCheckbox label="Catering" v-model="event.extras.catering" />
      </div>

      <div>
        <BaseCheckbox label="Live music" v-model="event.extras.music" />
      </div>

      <div>
        <BaseButton type="submit" class="-fill-gradient" something="else">
          Submit
        </BaseButton>
      </div>
    </form>

    <pre>{{ event }}</pre>
  </div>
</template>

<style scoped>

</style>