<script setup lang="ts">
import { Form, Field, ErrorMessage } from 'vee-validate';
import * as yup from 'yup';
import { ref, reactive, computed } from 'vue';

const currentStep = ref(0);

interface Schema1 {
  name: string,
  email: string
}
interface Schema2 {
  password: string,
  confirmPassword: string
}
interface Schema3 {
  address: string,
  postalCode: number
}
interface Schema4 {
  terms: boolean
}
// Each step should have its own validation schema
const schemas = [
  yup.object({
    name: yup.string().required(),
    email: yup.string().required().email(),
  }),
  yup.object({
    password: yup.string().required().min(6),
    confirmPassword: yup
      .string()
      .required()
      .min(6)
      .oneOf([yup.ref('password')], 'Passwords must match'),
  }),
  yup.object({
    address: yup.string().required(),
    postalCode: yup
      .string()
      .required()
      .matches(/^[0-9]+$/, 'Must be numeric'),
  }),
  yup.object({
    terms: yup.bool().required().equals([true]),
  }),
];

const currentSchema = computed(() => {
  return schemas[currentStep.value];
});

function nextStep(values: Schema1|Schema2|Schema3|Schema4) {
  if (currentStep.value === 3) {
    console.log('Done: ', JSON.stringify(values, null, 2));
    return;
  }

  currentStep.value++;
}

function prevStep() {
  if (currentStep.value <= 0) {
    return;
  }

  currentStep.value--;
}
</script>

<template>
  <div>
    <h1>vee-validate form wizard</h1>
    <p>
      This example showcases a simple multi-step form (form wizard), basically
      we use the `handleSubmit` function before moving to the next step, which
      allows us to validate the current step without having to submit the form.

      <br />
      <br />

      For this use-case you should pass `keepValues` to the form to let
      vee-validate keep the values across steps.
    </p>

    <Form
      @submit="nextStep"
      :validation-schema="currentSchema"
      keep-values
      v-slot="{ handleSubmit, values }"
    >
      <template v-if="currentStep === 0">
        <label for="name">Name</label>
        <Field name="name" id="name" />
        <ErrorMessage name="name" />

        <label for="email">Email</label>
        <Field name="email" id="email" type="email" />
        <ErrorMessage name="email" />
      </template>

      <template v-if="currentStep === 1">
        <label for="password">Password</label>
        <Field name="password" type="password" id="password" />
        <ErrorMessage name="password" />

        <label for="confirmation">Confirm Password</label>
        <Field name="confirmPassword" type="password" id="confirmation" />
        <ErrorMessage name="confirmPassword" />
      </template>

      <template v-if="currentStep === 2">
        <label for="address">Address</label>
        <Field as="textarea" name="address" id="address" />
        <ErrorMessage name="address" />

        <label for="postalCode">Postal Code</label>
        <Field name="postalCode" id="postalCode" />
        <ErrorMessage name="postalCode" />
      </template>

      <template v-if="currentStep === 3">
        <label for="terms">Agree to terms and conditions</label>
        <Field name="terms" type="checkbox" id="terms" :value="true" />
        <ErrorMessage name="terms" />
      </template>

      <button v-if="currentStep !== 0" type="button" @click="prevStep">
        Previous
      </button>

      <button v-if="currentStep !== 3" type="submit">Next</button>

      <button v-if="currentStep === 3" type="submit">Finish</button>

      <pre>{{ values }}</pre>
    </Form>
  </div>
</template>

<style>
#app {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  padding-bottom: 100px;
}

input {
  display: block;
}

span {
  display: block;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 20px;
}

button {
  display: block;
  margin-top: 10px;
}

button[type='submit'] {
  margin-top: 10px;
}

form {
  padding: 20px;
  border: 1px solid black;
}

p {
  font-size: 14px;
}
</style>
