<script setup lang="ts">
import {useUserStore} from '@/stores/user'
import {useCounterStore} from '@/stores/counter'

const userStore = useUserStore()
const counterStore = useCounterStore()
</script>

<template>
  <div>
    <button @click="counterStore.randomizeCounter()">randomize counter</button>
    <button @click="counterStore.increment()">increment</button>
    <button @click="userStore.registerUser('Dio', 'irejectmyhumanityjojo')">register user with account</button>
    <button @click="userStore.registerUser('yuyu', 'irejectmyhumanityjojo')">register user fake</button>
    <hr />
    <p>
      Complete store state via
      <code>store.$state</code>:
    </p>
    <pre>{{ counterStore.$state }}</pre>
    <hr />
    <pre>{{ userStore.$state }}</pre>
  </div>
</template>