<script setup lang="ts">
import { ref } from 'vue'
const shouldShowDropdown = ref<boolean>( false )
</script>

<template>
  <nav>
    <a id="profile" href="/profile">My Profile</a>

    <ul v-show=" shouldShowDropdown " id="user-dropdown">
      <!-- dropdown content -->
    </ul>
  </nav>
</template>

<style scoped>

</style>
