<!-- pages/some-page.vue -->
<script setup lang="ts">

const showModal = ref<Boolean>( false );

const route = useRoute()

definePageMeta( {
  key: ( route ) => route.fullPath,

  keepalive: {
    exclude: ['modal']
  },

  pageType: 'Checkout'
} )
</script>
<template>
  <div id="app">
    <button id="show-modal" @click=" showModal = true ">Show Modal</button>
    <!-- use the modal component -->
    <transition name="modal">
      <modal v-if=" showModal " @close=" showModal = false ">
        <template v-slot:body>
          el valor de id es {{ route.params.id }}
        </template>
        <template v-slot:header>
          <h3>custom header</h3>
        </template>
      </modal>
    </transition>
  </div>
</template>