<template>
  <label v-if="label" :for="uuid">
    {{ label }}
  </label>
  <input class="field" v-bind="{
    ...$attrs,
    onInput: updateValue
  }" :id="uuid" :value="modelValue" :placeholder="label" :aria-describedby="error ? `${uuid}-error` : null"
    :aria-invalid="error ? true : false" :class="{ error }">
  <BaseErrorMessage v-if="error" :id="`${uuid}-error`">
    {{ error }}
  </BaseErrorMessage>
</template>

<script setup lang="ts">
// components
import BaseErrorMessage from "@/components/BaseErrorMessage.vue";
// features
import UniqueID from '@/features/UniqueID'

const changeEmitName = 'update:modelValue';
const emits = defineEmits<{(e: typeof changeEmitName, id: string): void }>();

interface Props {
  label: string,
  modelValue?: string | number,
  error?: string
}

const { label = '', modelValue = '', error = '' } = defineProps<Props>()

const updateValue = (event: Event) => {
  const target = event.target as HTMLInputElement;
  emits(changeEmitName, target.value);
};

const uuid = UniqueID().getID()
</script>