<template>
  <input type="radio" v-bind="{ ...$attrs, onChange: updateValue }" :checked="modelValue === value" :id="uuid" />
  <label v-if="label" :for="uuid">
    {{ label }}
  </label>
  <BaseErrorMessage v-if="error" :id="`${uuid}-error`">
    {{ error }}
  </BaseErrorMessage>
</template>

<script setup lang="ts">
// components
import BaseErrorMessage from "@/components/BaseErrorMessage.vue";
// features
import UniqueID from '@/features/UniqueID'

const changeEmitName = 'update:modelValue';
const emits = defineEmits<{(e: typeof changeEmitName, id: string): void }>();

interface Props {
  label: string,
  modelValue?: string | number,
  value?: string | number,
  error?: string
}

const props = withDefaults(defineProps<Props>(), {
  label: '', 
  error: ''
})

const updateValue = (event: Event) => {
  const target = event.target as HTMLInputElement;
  emits(changeEmitName, props.value);
};

const uuid = UniqueID().getID()
</script>