<script setup lang="ts">
import {defineAsyncComponent} from 'vue'
const MyComponent = defineAsyncComponent(() => import('@/views/03.composition/AsyncComponent.vue'))
</script>
<template>
  <MyComponent/>
</template>