<!-- TODO -->
<script setup lang="ts">
import { ref } from 'vue'

const data = ref<string>( '' )
const emit = defineEmits<{
  ( e: 'focus-lost' ): void
}>()
// type-based
const handleBlur = ( event: FocusEvent ) => {
  // console.log( event.relatedTarget )
  if ( event.relatedTarget &&
    ( event.relatedTarget as HTMLElement ).tagName === 'BUTTON' ) {
    emit( 'focus-lost' )
  }
}

const submit = () => {
  console.log( 'submit.prevent' )
}

</script>

<template>
  <form @submit.prevent=" submit ">
    <input type="text" v-model=" data " @blur=" handleBlur " />
    <button>Submit</button>
  </form>
</template>

<style scoped>

</style>