<script setup lang="ts">
import {ref, Ref} from 'vue'
const count = ref<number>(0)
// type-based
const emit = defineEmits<{
  (e: 'increment', value: number): void
}>()

const handleClick = () => {
  count.value += 1
  emit('increment', count.value)
}
</script>

<template>
<p>{{ count }}</p>
<button @click="handleClick">Increment</button>
</template>

<style scoped></style>
