<script setup lang="ts">
// const route = useRoute()
</script>

<!-- app.vue -->
<template>
  <div>
    <nav class="flex align-center gap-4 p-4">
      <NuxtLink to="/" class="n-link-base">index</NuxtLink> | 
      <NuxtLink to="/hello-world" class="n-link-base">/hello-world</NuxtLink> | 
    </nav>
    <!-- Markup shared across all pages, ex: NavBar -->
    <NuxtPage />
  </div>
</template>
