<template>
  <div> 
    <input :value="currency" @input="emit('update:currency', $event.target.value)"/>

    <input :value="modelValue" type="number" @input="emit('update:modelValue', Number($event.target.value))"/>
  </div>
</template>
<script setup lang="ts">
import {Ref} from 'vue'
const {modelValue, currency} = defineProps( {
  modelValue: { type: Number},
  // money
  currency: { type: String }
} )

const emit = defineEmits<{
  (e: 'update:modelValue', value: Number): Number,
  (e: 'update:currency', value: String): String
}>()


</script>