<script setup lang="ts">
const route = useRoute()
</script>

<!-- app.vue -->
<template>
  <div>
    <nav class="flex align-center gap-4 p-4">
      <NuxtLink to="/" class="n-link-base">index</NuxtLink> | 
      <NuxtLink to="/working" class="n-link-base">working</NuxtLink> | 
      <NuxtLink to="/bad-1" class="n-link-base">bad-1</NuxtLink> |
      <NuxtLink to="/bad-2" class="n-link-base">bad-2</NuxtLink>
    </nav>
    <!-- Markup shared across all pages, ex: NavBar -->
    <NuxtPage />
  </div>
</template>
