<script setup>
  definePageMeta({
    // define middleware as a function
    /*
    middleware: [
      function (to, from) {
        const auth = useState('auth')

        if (!auth.value.isAuthenticated) {
          return navigateTo('/login')
        }

        return navigateTo('/checkout')
      }
    ],
    */

    // ... or a string
    middleware: 'auth'

    // ... or multiple strings
    // middleware: ['auth', 'another-named-middleware']
})
</script>
<template>
  <div>checkout page</div>
</template>