<script setup>
import { defineRule, Form, Field, ErrorMessage, configure } from 'vee-validate';
import { required, between, confirmed } from '@vee-validate/rules';
import { localize, loadLocaleFromURL } from '@vee-validate/i18n';

// define global rules
defineRule('required', required);
defineRule('between', between);
defineRule('confirmed', confirmed);

// Load locale from URL
loadLocaleFromURL(
  'https://unpkg.com/@vee-validate/i18n@4.1.0/dist/locale/it.json'
);

configure({
 generateMessage: localize('it', {
    names: {
      name: 'nome',
      age: 'età',
      ageConfirm: 'età Confermare',
    },
  }),
});

function onSubmit(values) {
  alert(JSON.stringify(values, null, 2));
}
</script>

<template>
  <Form @submit="onSubmit">
    <label for="name">nome</label>
    <Field name="name" type="text" rules="required" />
    <ErrorMessage name="name" />

    <label for="name">età</label>
    <Field name="age" type="number" rules="required|between:18,96" />
    <ErrorMessage name="age" />

    <label for="name">età Confermar</label>
    <Field name="ageConfirm" type="number" rules="required|confirmed:@age" />
    <ErrorMessage name="ageConfirm" />

    <button>presentare</button>
  </Form>
</template>

<style scoped>
span,
button {
  display: block;
  margin: 10px 0;
}

label {
  display: block;
}
</style>
