<script setup lang="ts">
import { defineRule, Form, Field, ErrorMessage, configure } from 'vee-validate';
import { required, between, confirmed } from '@vee-validate/rules';
import { localize } from '@vee-validate/i18n';
import it from '@vee-validate/i18n/dist/locale/it.json';

// define global rules
defineRule('required', required);
defineRule('between', between);
defineRule('confirmed', confirmed);

localize({ it });

// Activate the locale
configure({
  generateMessage: localize('it', {
    names: {
      _name: 'nome',
      _age: 'età',
      _ageConfirm: 'età Confermare',
    },
  }),
});

function onSubmit(values) {
  alert(JSON.stringify(values, null, 2));
}
</script>

<template>
  <Form @submit="onSubmit">
    <label for="name">nome</label>
    <Field name="_name" type="text" rules="required" />
    <ErrorMessage name="_name" />

    <label for="name">età</label>
    <Field name="_age" type="number" rules="required|between:18,96" />
    <ErrorMessage name="_age" />

    <label for="name">età Confermar</label>
    <Field name="_ageConfirm" type="number" rules="required|confirmed:@age" />
    <ErrorMessage name="_ageConfirm" />

    <button>presentare</button>
  </Form>
</template>

<style scoped>
span,
button {
  display: block;
  margin: 10px 0;
}

label {
  display: block;
}
</style>