<template>
  <p v-if="pokemon">Pokemon Data {{ pokemon.name }}</p>
</template>

<script setup lang="ts">
import { usePokemon } from '@/composables/usePokemon'
const props = defineProps( {
  pokemonId: { type: Number, required: true }
} )
const { pokemon } = usePokemon(props.pokemonId)
</script>