<template>
  <div>
  <div>User score: {{ user?.score }}</div>
    <button @click="user.score = -1">reset</button>
    <button @click="user.score--">-</button>
    <button @click="user.score++">+</button>
  </div>
</template>

<script setup>

const user = useCookie(
  'userInfo',
  {
    default: () => ({ score: -1 }),
    // change watch option to view how it works
    watch: false
  }
)

console.log(user.value)

/*
if (user.value && user.value !== null) {
  user.value.score++; // userInfo cookie not update with this change
}
*/
</script>