<script setup lang="ts">
import { ref, reactive } from 'vue'
const newTodo = ref<string>( '' );
const todos = reactive<{ id: number, text: string, completed: boolean }[]>( [
  {
    id: 1,
    text: 'Learn Vue.js 3',
    completed: false
  }
] );

const createTodo = () => {
  todos.push( {
    id: 2,
    text: newTodo.value,
    completed: false
  } )
}
</script>
<template>
  <div>
    <div
      v-for="todo in todos"
      :key="todo.id"
      data-test="todo"
      :class="[todo.completed ? 'completed' : '']"
    >
      {{ todo.text }}
      <input
        type="checkbox"
        v-model="todo.completed"
        data-test="todo-checkbox"
      />
    </div>

    <form data-test="form" @submit.prevent="createTodo">
      <input data-test="new-todo" v-model="newTodo" />
      <button type="submit">submit</button>
    </form>
  </div>
</template>