<script setup lang="ts">
// import { useField } from "vee-validate";
import { useField, useForm } from 'vee-validate'
// components
import BaseButton from "@/components/BaseButton.vue";
import BaseInput from "@/components/BaseInput.vue";
//
const onSubmit = function onSubmit(): void {
  alert('Submitted')
}

interface LoginForm {
  email: string;
  password: string;
}

// const { value: email, errorMessage: emailError } = useField<string>('email', function (value) {
const validations = {
  email: (value: string): true | string => {
    // input is required validation
    if (!value) return "This field is required"
    // is email
    const regex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    if (!regex.test(String(value).toLowerCase())) {
      return 'Please enter a valid email address'
    }
    return true
    //})
  },
  password: (value: string): true | string => {
    const requiredMessage = 'This field is required'
    if (value === undefined || value === null) return requiredMessage
    if (String(value).length < 8) return requiredMessage
    return true
  }
}

useForm<LoginForm>({ validationSchema: validations })

const { value: email, errorMessage: emailError } = useField<string>('email')
const { value: password, errorMessage: passwordError } = useField<string>('password')
</script>

<template>
  <form @submit.prevent="onSubmit">
    <BaseInput label="Email" type="email" v-model="email" :error="emailError" />
    <!-- <BaseInput label="Password" type="password" /> -->
    <BaseInput label="Password" type="password" v-model="password" :error="passwordError" />
    <BaseButton type="submit" class="-fill-gradient">
      Submit
    </BaseButton>
  </form>
</template>

