<template>
  <label v-if="label" :for="uuid">
    {{ label }}
  </label>
  <select class="field" v-bind="{
    ...$attrs,
    onChange: updateValue
  }" :value="modelValue" :id="uuid" :aria-describedby="error ? `${uuid}-error` : null"
    :aria-invalid="error ? true : false" :class="{ error }">
    <option v-for="option in options" :value="option" :key="option" :selected="option === modelValue">
      {{ option }}
    </option>
  </select>
  <BaseErrorMessage v-if="error" :id="`${uuid}-error`">
    {{ error }}
  </BaseErrorMessage>
</template>

<script setup lang="ts">
// components
import BaseErrorMessage from "@/components/BaseErrorMessage.vue";
// features
import UniqueID from '@/features/UniqueID';

const changeEmitName = 'update:modelValue';
const emits = defineEmits<{(e: typeof changeEmitName, id: string): void }>();

interface Option {
 label: string,
 value: number
}

interface Props {
  label: string,
  modelValue?: string | number,
  error?: string,
  options: Option[]
}

const { label = '', modelValue = '', error = '' } = defineProps<Props>()

const updateValue = (event: Event) => {
  const target = event.target as HTMLInputElement;
  emits(changeEmitName, target.value);
};

const uuid = UniqueID().getID()
</script>