<script setup lang="ts">
import { ref, reactive, computed } from "vue";
// import { useField } from "vee-validate";
import { 
  useField, 
  useForm, 
  // permite bloquear el botón submit
  useIsFormDirty, 
  useIsFormValid, 
  // resettea los campos del formulario (pero no los valores en useForm)
  useResetForm 
} from 'vee-validate'
// components
import BaseCheckbox from "@/components/BaseCheckbox.vue";
import BaseButton from "@/components/BaseButton.vue";
import BaseSelect from "@/components/BaseSelect.vue";
import BaseInput from "@/components/BaseInput.vue";
import BaseRadioGroup from "@/components/BaseRadioGroup.vue";
// utils
import { required, minLength, anything } from "@/utils/validations"
// types
import type Event from "@/types/Event";
// 

const categories = ref<string[]>([
  'sustainability',
  'nature',
  'animal welfare',
  'housing',
  'education',
  'food',
  'community'
])

// añadimos las opciones
const petsOptions: { value: number; label: string; }[] = [
  { value: 1, label: 'Yes' },
  { value: 0, label: 'No' }
]

// creamos el esquema de validación
const validationSchema = {
  category: required,
  title: (value: string) => {
    const req = required(value)
    if (req !== true) return req
    const min = minLength(3, value)
    if (min !== true) return min
    return true
  },
  description: required,
  location: undefined,
  pets: anything,
  catering: anything,
  music: anything
}

/*
const event: Event = reactive({
  category: '',
  title: '',
  description: '',
  location: '',
  pets: 1,
  extras: {
    catering: false,
    music: false
  }
})
*/

// inicializa los valores del formulario
const initialValues: Event = {
  category: '',
  title: '',
  description: '',
  location: '',
  pets: 1,
  catering: false,
  music: false
}

// construye el validador del formulario
const { 
  values: event, 
  handleSubmit, 
  errors, 
  setValues // permite setear los valores (una vez reseteado el formulario)
} = useForm<Event>({
  validationSchema,
  initialValues
})

// const { value: category, errorMessage: categoryError } = useField<string>('category')
const { value: category } = useField<string>('category')
// const { value: title, errorMessage: titleError } = useField<string>('title')
const { value: title } = useField<string>('title')
// const { value: description, errorMessage: descriptionError } = useField<string>('description')
const { value: description } = useField<string>('description')
// const { value: location, errorMessage: locationError } = useField<string>('location')
const { value: location } = useField<string>('location')
// const { value: pets, errorMessage: petsError } = useField<string>('pets', undefined, {initialValue: 1})
const { value: pets } = useField<string>('pets')
// const { value: catering, errorMessage: cateringError } = useField<string>('catering', undefined, {initialValue: false})
const { value: catering } = useField<string>('catering')
// const { value: music, errorMessage: musicError } = useField<string>('music', undefined, {initialValue: false})
const { value: music } = useField<string>('music')

/*
const createEvent = (): void => {
  console.log('submit')
} 
*/

// chequea el estado de las validaciones del esquema
const isDirty = useIsFormDirty();
const isValid = useIsFormValid();

const isDisabled = computed(() => {
  return !isDirty.value || !isValid.value;
});

// resetea el formulario
const resetForm = () => {
  useResetForm()
  setValues(initialValues)
}

// envía el formulario
const submit = handleSubmit(values => {
  console.log('submit', values)
})
</script>

<template>
  <div>
    <h1>Create an Event</h1>
    <!-- <form @submit.prevent="createEvent"> -->
    <form @submit.prevent="submit">
      <!-- <BaseSelect label="Select a category" :options="categories" v-model="event.category" error="This field is required" /> -->
      <!-- <BaseSelect label="Select a category" :options="categories" v-model="category" :error="categoryError" /> -->
      <BaseSelect label="Select a category" :options="categories" v-model="category" :error="errors.category" />

      <h3>Name & describe your event</h3>
      <!-- <BaseInput label="Title" v-model="event.title" type="text" error="This field is required" /> -->
      <!-- <BaseInput label="Title" v-model="title" :error="titleError" /> -->
      <BaseInput label="Title" type="text" v-model="title" :error="errors.title" />

      <!-- <BaseInput label="Description" v-model="event.description" type="text" /> -->
      <!-- <BaseInput label="Description" v-model="description" :error="descriptionError" /> -->
      <BaseInput label="Description" type="text" v-model="description" :error="errors.description" />

      <h3>Where is your event?</h3>
      <!-- <BaseInput label="Location" v-model="event.location" type="text" /> -->
      <!-- <BaseInput label="Location" v-model="location" :error="locationError" /> -->
      <BaseInput label="Location" type="text" v-model="location" :error="errors.location" />

      <h3>Are pets allowed?</h3>
      <!-- <BaseRadioGroup v-model="event.pets" name="pets" :options="petsOptions" /> -->
      <BaseRadioGroup name="pets" :options="petsOptions" v-model="pets" :error="errors.pets" />

      <h3>Extras</h3>
      <div>
        <!-- <BaseCheckbox label="Catering" v-model="event.extras.catering" /> -->
        <!-- <BaseCheckbox label="Catering" v-model="catering" :error="cateringError" /> -->
        <BaseCheckbox label="Catering" v-model="catering" :error="errors.catering" />
      </div>

      <div>
        <!-- <BaseCheckbox label="Live music" v-model="event.extras.music" /> -->
        <!-- <BaseCheckbox label="Live music" v-model="music" :error="musicError" /> -->
        <BaseCheckbox label="Live music" v-model="music" :error="errors.music" />
      </div>

      <div>
        <BaseButton type="submit" :disabled="isDisabled" class="-fill-gradient">
          Submit
        </BaseButton>
        <BaseButton type="reset" class="-fill-gradient">
          Reset
        </BaseButton>
        <BaseButton type="reset" class="-fill-gradient" @click="resetForm">
          Reset
        </BaseButton>
      </div>
    </form>
    <!-- mostraremos los errores -->
    <pre>{{ errors }}</pre>
    <pre>{{ event }}</pre>
  </div>
</template>

<style scoped>

</style>