<script setup lang="ts">
const { data: mountains } = await useFetch(`https://api.nuxtjs.dev/mountains`)
</script>

<!-- app.vue -->
<template>
  <div>
    <nav class="flex align-center gap-4 p-4">
      <NuxtLink to="/?example=true" class="n-link-base">index</NuxtLink> | 
      <template v-if="mountains">
        <NuxtLink v-for="mountain in mountains" :to="{name:'slug', params: {slug: mountain.slug}}" class="n-link-base">
          {{mountain.title}}
        </NuxtLink> | 
      </template>
    </nav>
    <!-- Markup shared across all pages, ex: NavBar -->
    <NuxtPage />
  </div>
</template>
