<template>
  <p class="paragraph">Times clicked: {{ count }}</p>
  <button @click="increment">increment</button>
</template>

<script setup lang="ts">
import {ref} from 'vue'
const count = ref<number>(0)
const increment = () => count.value++
</script>