<script setup lang="ts">
import { useUserStore} from '@/stores/user'

const store =useUserStore()

store.$subscribe( ( mutation, state ) => {
  console.log( state )
  // import { MutationType } from 'pinia'
  console.log( mutation.type ) // 'direct' | 'patch object' | 'patch function'
  // same as useUserStore.$id
  console.log( mutation.storeId ) // 'user'
  // only available with mutation.type === 'patch object'
  console.log( mutation.payload ) // patch object passed to useUserStore.$patch()
  // persist the whole state to the local storage whenever it changes
  localStorage.setItem( 'user', JSON.stringify( state ) )
  console.log( localStorage )
} )

</script>
<template>
  <div>
    <button @click="store.count++">count ++</button>
    <button @click="store.$reset()">reset store</button>
    <button @click="store.$patch({
      count: store.count + 1,
      user: {
        age: 120,
        name: 'manolo'
      }
    })">change state 1</button>
    <button @click="store.$patch((state) => {
      state.userList.push({name: 'pepe', age: 19}),
      state.hasChanged = true
    })">change state 2</button>
    <button @click="store.$patch({count: 24})">replacing state</button>
    <pre>
      {{ store.$state }}
    </pre>
  </div>
</template>