<script setup lang="ts">
import { ref, onMounted } from 'vue'
import axios from 'axios'

interface Pokemon {
  id: number,
  name: string
}

const pokemons = ref<Pokemon[]>( [] )

onMounted(async () => {
  console.log('asdf')
  const res = await axios.get( 'https://pokeapi.co/api/v2/pokemon' )
  // console.log(res)
  pokemons.value = res.data.results
  // console.log(pokemons)
})
</script>

<template>
  <div>{{ pokemons }}</div>
</template>