<!-- error.vue -->
<template>
  <button @click="handleError">Clear errors</button>
  {{ props }}
</template>

<script setup>
const props = defineProps({
  error: Object
})

console.log(props.error)

const handleError = () => clearError({ redirect: '/' })
</script>