<script setup>
import { defineRule, Form, Field, ErrorMessage, configure } from 'vee-validate';
import { required, between, confirmed } from '@vee-validate/rules';
import { localize } from '@vee-validate/i18n';

// define global rules
defineRule('required', required);
defineRule('between', between);
defineRule('confirmed', confirmed);

configure({
  // create and set a localization handler
  generateMessage: localize('en', {
    messages: {
      // interpolates the field name
      required: 'The {field} is required',
      // interpolates the min, max params
      between: 'The {field} value must be between 0:{min}, 1:{max}',
      // Interpolates another field value in the form
      confirmed: 'The {field} value must match {age}',
    },
  }),
});

function onSubmit(values) {
  alert(JSON.stringify(values, null, 2));
}
</script>

<template>
  <Form @submit="onSubmit">
    <label for="name">Your Name</label>
    <Field name="name" type="text" rules="required" />
    <ErrorMessage name="name" />

    <label for="name">Age</label>
    <Field name="age" type="number" rules="required|between:18,96" />
    <ErrorMessage name="age" />

    <label for="name">Confirm Age</label>
    <Field name="ageConfirm" type="number" rules="required|confirmed:@age" />
    <ErrorMessage name="ageConfirm" />

    <button>submit</button>
  </Form>
</template>

<style scoped>
span,
button {
  display: block;
  margin: 10px 0;
}

label {
  display: block;
}
</style>
