<template>
  <div>
    <component v-for="opts in options" :key="opts.value" :is="vertical ? 'div' : 'span'"
      :style="vertical ? '' : 'margin-right: 20px;'">
      <BaseRadio :name="name" :label="opts.label" :modelValue="modelValue" :value="opts.value"
        @update:modelValue="$emit('update:modelValue', $event)" />
    </component>
  </div>
</template>

<script setup lang="ts">
// components
import BaseRadio from "@/components/BaseRadio.vue";

interface Option {
 label: string,
 value: number
}

interface Props {
  label?: string,
  modelValue?: string | number,
  error?: string,
  vertical?: boolean,
  options: Option [],
  name: string
}

const { label = '', modelValue = '', error = '', vertical = false } = defineProps<Props>()
</script>