<template>
  <input v-bind="{ ...$attrs, onChange: updateValue }" :checked="modelValue" :id="uuid" type="checkbox" class="field" />
  <label :for="uuid" v-if="label">
    {{ label }}
  </label>
  <BaseErrorMessage v-if="error" :id="`${uuid}-error`">
    {{ error }}
  </BaseErrorMessage>
</template>

<script setup lang="ts">
// import { defineProps } from "vue";
// components
import BaseErrorMessage from "@/components/BaseErrorMessage.vue";
// features
import UniqueID from '@/features/UniqueID';

const changeEmitName = 'update:modelValue';
const emits = defineEmits<{(e: typeof changeEmitName, id: string): void }>();

const { label = '', error = '' } = defineProps<{
  label: string,
  modelValue?: boolean,
  error?: string
}>()

const updateValue = (event: Event) => {
  const target = event.target as HTMLInputElement;
  emits(changeEmitName, target.checked);
};

const uuid = UniqueID().getID()
</script>