<script setup lang="ts">
useHead({
  title: 'My App from useHead',
  meta: [
    { name: 'description', content: 'My amazing site  from useHead.' }
  ],
  bodyAttrs: {
    class: 'test'
  },
  script: [ { children: 'console.log(\'Hello world from useHead\')' } ]
})
</script>
<template>
  <div>
    <p>My page</p>
  </div>
</template>
