<template>
  <button :disabled="loading" @click="getPokemons">Get pokemons</button>
  <!-- {{ pokemons }} -->
  <p v-if="loading" role="alert">Loading your posts…</p>
  <ul v-if="pokemons">
    <li v-for="pokemon in pokemons" :key="(pokemon as Pokemon).id" data-test="pokemon">
      {{ (pokemon as Pokemon).name }}
    </li>
  </ul>
</template>

<script lang="ts">
import axios from 'axios'
interface Pokemon {
  id: number,
  name: string
}
export default {
  data() {
    return {
      pokemons: [],
      loading: false
    }
  },
  methods: {
    async getPokemons() {
      this.loading = true
      const res = await axios.get('https://pokeapi.co/api/v2/pokemon')
      this.pokemons = res.data.results
      this.loading = false
    }
  }
}
</script>
