<script setup lang="ts">
// import SimpleForm from '@/views/SimpleForm.vue'
// import ComponentsForm from '@/views/ComponentsForm.vue'
import LoginForm from '@/views/LoginForm.vue'
</script>

<template>
  <!-- 
  <div id="app">
    <SimpleForm />
    <hr>
    <ComponentsForm />
  </div>
  -->
  <div id="app">
    <LoginForm />
  </div>
</template>

<style scoped>
</style>
