<template>
  <button @click=" show = !show ">Toggle</button>

  <transition name="fade">
    <p v-if=" show ">hello</p>
  </transition>
</template>

<script setup lang="ts">
import { ref } from 'vue'


const show = ref<boolean>( false )
</script>

<style lang="css">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>