<script setup lang="ts">
// You might choose this based on an API call or logged-in status
// const layout = "custom";
</script>
<!-- app.vue -->
<template>
  <div class="container">
    <!-- <NuxtLayout :name="layout"> -->
    <NuxtLayout >
      <!-- begin:: NuxtPage -->
      <NuxtPage />
      <!-- end:: NuxtPage -->
    </NuxtLayout>
  </div>

</template>