<script setup lang="ts">
import Broadcast from '@/components/Broadcast.vue'
import Tv from '@/components/Tv.vue'
</script>

<template>
  <div style="display: flex; gap: 100px;">
    <Broadcast />
    <Tv />
  </div>
</template>