<template>
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Postme</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Ver publicaciones</a>
        <a class="mdl-navigation__link" href="">Imagenes</a>
        <a class="mdl-navigation__link" href="">Videos</a>
        <a class="mdl-navigation__link" href="">Audios</a>
      </nav>
    </div>
  </header>
</template>