<template>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">
      <i class="material-icons mdl-color-text--primary">home</i>
      Ir a la página principal
    </a>
    <a class="mdl-navigation__link" href="">
      <i class="material-icons mdl-color-text--primary">post_add</i>
      Ver publicaciones</a>
    <a class="mdl-navigation__link" href="">
      <i class="material-icons mdl-color-text--primary">camera_alt</i>
      Imagenes</a>
    <a class="mdl-navigation__link" href="">
      <i class="material-icons mdl-color-text--primary">ondemand_video</i>
      Videos</a>
    <a class="mdl-navigation__link" href="">
      <i class="material-icons mdl-color-text--primary">music_video</i>
      Audios</a>
    <!-- begin:: add button install PWA -->
    <a class="mdl-navigation__link app--install" @click="installPWA">
      <div>Si te gusta la app puedes instalarla en tu dispositivo haciendo click en el botón instalar</div>
      <i class="material-icons">app_settings_alt</i>
      Instalar
    </a>
    <!-- end:: add button install PWA -->
    <!-- begin:: add button install notifications -->
    <a class="mdl-navigation__link notifications--install" @click="requestPermission">
      <div>Desea activar notificaciones</div>
      <i class="material-icons">notification_important</i>
      Instalar
    </a>
    <!-- end:: add button install notifications -->
  </nav>
</template>

<script setup lang="ts">
import { installPWA, requestPermission } from '@/utils/sw.ts'

</script>