<!-- app.vue -->
<!-- app.vue -->
<script setup lang="ts">
interface FetchSeo {
  title: string,
  description: string 
}
const fetchSeo = (): Promise<{data: FetchSeo}> => {
  return new Promise(function(resolve, reject) {
    setTimeout(() => {
      /*stuff using username, password*/
      resolve({
        data: {
          title: 'dark',
          description: 'dark'
        }
      });
    });
  });
}
const { data } = await fetchSeo();
// console.log(data)

// en server
useServerSeoMeta({
  ogTitle: () => `${data?.title} - My Site`,
  description: () => data?.description,
  ogDescription: () => data?.description,
})
// en cliente
useSeoMeta({
  ogTitle: () => `${data?.title} - My Site`,
  description: () => data?.description,
  ogDescription: () => data?.description,
})
</script>
<template>
  <div>
    <p>My page</p>
  </div>
</template>
