<template>
  <div>
    <!-- <NuxtWelcome /> -->
    <img src="/img/nuxt.png" alt="Discover Nuxt 3" />
    <hr/>
    <img src="~/assets/img/nuxt.png" alt="Discover Nuxt 3" />
    <h1>prueba </h1>
  </div>
</template>

<style lang="scss">
@import "./assets/_colors.scss";
</style>