<template>
  <button @click=" getPokemons ">Get pokemons</button>
  {{ pokemons.length }}
  <ul v-if="pokemons.length">
    <li v-for="pokemon in pokemons" :key=" ( pokemon as Pokemon ).id " data-test="pokemon">
      {{ ( pokemon as Pokemon ).name }}
    </li>
  </ul>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'

interface Pokemon {
  id: number,
  name: string
}

const pokemons = ref<Pokemon[]>( [] )

const getPokemons = async () => {
  const res = await axios.get( 'https://pokeapi.co/api/v2/pokemon' )
  // console.log(res)
  pokemons.value = res.data.results
  // console.log(pokemons)
}
</script>
