<script lang="ts">
import axios from 'axios'
export default {
  data () {
    return {
      info: null
    }
},
mounted () {
  axios
    .get(' https://pokeapi.co/api/v2/pokemon/ditto')
    .then(response => (this.info = response.data))
}
}
</script>

<template>
    <!-- {{ info }} -->
    <p v-if="info"> ditto tiene :{{ info.base_experience }} de experiencia</p>
</template>

<style scoped>
</style>