<script setup lang="ts">
import { reactive } from 'vue'
interface Form {
  email: string,
  description: string,
  city: string,
  subscribe: boolean,
  interval: string
}

const form: Form = reactive( {
  email: '',
  description: '',
  city: '',
  subscribe: false,
  interval: ''
} )

// type-based
const emit = defineEmits<{
  ( e: 'submit', value: Form ): void
}>()
const submit = () => {
  emit( 'submit', form )
}

// add block capture copy
const captureCopy = () => {
  // console.log( 'captureCopy' )
  if ( navigator.clipboard ) {
    navigator.clipboard.writeText( "" )
  } else {
    return 'clipboard block';
  };
}
</script>

<template>
  <form @submit.prevent=" submit ">
    <input type="email" @keydown.prevent.ctrl.c=" captureCopy " @keydown.prevent.meta.c=" captureCopy "
      @click.prevent.right.exact=" captureCopy " v-model=" form.email " />

    <textarea v-model=" form.description " />

    <select v-model=" form.city ">
      <option value="new-york">New York</option>
      <option value="moscow">Moscow</option>
    </select>

    <input type="checkbox" v-model=" form.subscribe " />

    <input type="radio" value="weekly" v-model=" form.interval " />
    <input type="radio" value="monthly" v-model=" form.interval " />

    <button type="submit">Submit</button>
  </form>
</template>

<style scoped>

</style>