<script setup lang="ts">
import { useUserStore } from '@/stores/user';
import { useCounterStore } from '@/stores/counter';
import { useAuthStore } from '@/stores/auth';
import { useSettingsStore } from '@/stores/setting';

const userStore = useUserStore()
const counterStore = useCounterStore()
const authStore = useAuthStore()
const settingStore = useSettingsStore()

</script>
<template>
<div>
  <button @click="counterStore.randomizeCounter()">randomize counter</button>
  <button @click="counterStore.increment()">increment counter</button>
  <button @click="userStore.registerUser('Dio', 'irejectmyhumanityjojo')">register user with account</button>
  <button @click="userStore.registerUser('manolo', 'asdf')">register user fake</button>
  <hr/>
  <p>complete stores<code>store.$state</code></p>
  <pre>
    {{ counterStore.$state }}
  </pre>
  <hr/>
  <pre>
    {{ userStore.$state }}
  </pre>
  <hr/>
  <pre>
    {{ authStore.$state }}
  </pre>
  <hr/>
  <pre>
    {{ settingStore.$state }}
  </pre>
</div>
</template>