<script lang="ts">
export default {
  data() {
    return {
      password: ''
    }
  },
  props: {
    minLength: {
      type: Number,
      default: 1
    }
  },
  computed: {
    error() {
      if ( this.password.length < this.minLength ) {
        return `Password must be at least ${this.minLength} characters.`
      }
      return
    }
  }
}
</script>

<template>
  <div>
    <input v-model=" password ">
    <div v-if=" error ">{{ error }}</div>
  </div>
</template>

<style scoped>

</style>
