<script setup lang="ts">
import { defineRule, Form, Field, ErrorMessage, configure } from 'vee-validate';
import { required, between, confirmed } from '@vee-validate/rules';
import { localize } from '@vee-validate/i18n';

// define global rules
defineRule('required', required);
defineRule('between', between);
defineRule('confirmed', confirmed);

// Activate the locale
configure({
  generateMessage: localize('it', {
    messages: {
      required: 'Il campo {field} è richiesto _',
      between: 'Il campo {field} deve essere compreso tra 0:{min} e 1:{max} _',
      confirmed: 'Il campo {field} non corrisponde _'
    }
  }),
});

function onSubmit(values) {
  alert(JSON.stringify(values, null, 2));
}
</script>

<template>
  <Form @submit="onSubmit">
    <label for="name">nome</label>
    <Field name="_name" type="text" rules="required" />
    <ErrorMessage name="_name" />

    <label for="name">età</label>
    <Field name="_age" type="number" rules="required|between:18,96" />
    <ErrorMessage name="_age" />

    <label for="name">età Confermar</label>
    <Field name="_ageConfirm" type="number" rules="required|confirmed:@age" />
    <ErrorMessage name="_ageConfirm" />

    <button>presentare</button>
  </Form>
</template>

<style scoped>
span,
button {
  display: block;
  margin: 10px 0;
}

label {
  display: block;
}
</style>