<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import PokemonList from '@/components/01.option/PokemonList.vue'
import PokemonList2 from '@/components/01.composition/PokemonList2.vue'
import PokemonListLoading from '@/components/02.option/PokemonListLoading.vue'
import PokemonListLoading2 from '@/components/02.composition/PokemonListLoading2.vue'
</script>

<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </nav>
  <router-view />
  <div>
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" class="logo" alt="Vite logo" />
    </a>
    <a href="https://vuejs.org/" target="_blank">
      <img src="./assets/vue.svg" class="logo vue" alt="Vue logo" />
    </a>
  </div>
  <PokemonList />
  <hr/>
  <PokemonList2 /><hr/>
  <PokemonListLoading /><hr/>
  <PokemonListLoading2 />
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
