<script setup lang="ts">
import { useSignupStore } from './stores';

const store = useSignupStore();
</script>

<template>
  <form @submit="store.signup" novalidate>
    <div class="field">
      <input placeholder="Name" v-model="store.name" />
      <span>{{ store.errors.name }}</span>
    </div>

    <div class="field">
      <input type="email" placeholder="Email" v-model="store.email" />
      <span>{{ store.errors.email }}</span>
    </div>

    <div class="field">
      <input type="password" placeholder="Password" v-model="store.password" />
      <span>{{ store.errors.password }}</span>
    </div>

    <button type="submit">Submit</button>
  </form>
</template>
