<script setup lang="ts"></script>

<template>
  <div>
    <header>
      <slot name="header" />
    </header>

    <main>
      <slot name="main" />
    </main>
    <footer>
      <slot name="footer" />
    </footer>
  </div>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
