<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import Slot from '@/components/01.composition/Slot.vue'
import SlotName from '@/components/02.composition/SlotName.vue'
import SlotAdvanced from '@/components/03.composition/SlotAdvanced.vue'
import ComponentWithSlots from '@/components/04.option/ComponentWithSlots.vue'
import ComponentWithSlots2 from '@/components/04.composition/ComponentWithSlots2.vue'
</script>

<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </nav>
  <router-view />
  <div>
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" class="logo" alt="Vite logo" />
    </a>
    <a href="https://vuejs.org/" target="_blank">
      <img src="./assets/vue.svg" class="logo vue" alt="Vue logo" />
    </a>
  </div>
  <Slot>'Main Content'</Slot>
  <SlotName>
    <template v-slot:header>
      <div>Header</div>
    </template>
    <template v-slot:main>
      <div>Main Content</div>
    </template>
    <template v-slot:footer>
      <div>Footer</div>
    </template>
  </SlotName>
  <SlotAdvanced>
    <template v-slot:header>
      <div>Header</div>
    </template>
    <template v-slot:main>
      <div>Main Content</div>
    </template>
    <template v-slot:footer>
      <div>Footer</div>
    </template>
  </SlotAdvanced>
  <ComponentWithSlots>
    <template v-slot:scoped>
      <div>Footer</div>
    </template>
  </ComponentWithSlots>
  <ComponentWithSlots2>
    <template v-slot:scoped>
      <div>Footer</div>
    </template>
  </ComponentWithSlots2>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
