<script setup lang="ts">
import {ref} from 'vue'
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import Form from '@/components/01.composition/Form.vue'
import Form2 from '@/components/02.composition/Form2.vue'
import Form3 from '@/components/03.composition/Form3.vue'
import Form4 from '@/components/04.composition/Form4.vue'

const submitFieldEvent = (event: string ) => {
  console.log(event)
}
const submitFormEvent = (event: {
  email: string,
  description: string,
  city: string,
  subscribe: boolean,
  interval: string
} ) => {
  console.log({ ...event })
}

const focusLost = ( ) => {
  console.log('focus blur')
}

const input = ref<string>('')
</script>

<template>
  <Form @submit="submitFieldEvent"/>
  <hr/>
  <Form2 @submit="submitFormEvent"/>
  <hr/>
  <Form3 @focusLost="focusLost"/>
  <hr/>
  <Form4 class="text-input" v-model="input" label="email" ref="email"/>
  {{ input }}
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
