<template>
  <div>
    <!-- <NuxtWelcome /> -->
    <!-- <h1>Welcome to the homepage</h1>
    <AppAlert>
      This is an auto-imported component.
    </AppAlert>
    -->
    <AppHeader />

    <NuxtPage />
    <AppFooter />
  </div>
</template>
