<script setup lang="ts">
import {ref} from 'vue'
defineProps<{ msg1: string }>()
const msg2 = ref('world')
</script>

<template> 
  <div>{{ msg1 }} {{ msg2 }}</div>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
