<script setup lang="ts"></script>

<template>
  <div>
    <h1>Welcome!</h1>
    <main>
      <slot />
    </main>
    <footer>
      Thanks for visiting.
    </footer>
  </div>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
