<!-- app.vue -->
<script setup lang="ts">
useServerSeoMeta({
  title: 'My Amazing Site from useServerSeoMeta',
  ogTitle: 'My Amazing Site from useServerSeoMeta',
  description: 'This is my amazing site, let me tell you all about it.',
  ogDescription: 'This is my amazing site, let me tell you all about it.',
  ogImage: 'https://example.com/image.png',
  twitterCard: 'summary_large_image',
})
</script>
<template>
  <div>
    <p>My page</p>
  </div>
</template>
