<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import { ref } from 'vue'
import Editor from '@/components/01.composition/Editor.vue'
import MoneyEditor from '@/components/02.composition/MoneyEditor.vue'

const text = ref<string>('asdf')
const modelValue = ref<number>(1)
const currency = ref<string>('$')
</script>

<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </nav>
  <router-view />
  <div>
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" class="logo" alt="Vite logo" />
    </a>
    <a href="https://vuejs.org/" target="_blank">
      <img src="./assets/vue.svg" class="logo vue" alt="Vue logo" />
    </a>
  </div>
  {{ text }}
  <Editor v-model=" text " :label=" 'test' " />
  <hr />
  currency :{{ currency }} , modelValue: {{ modelValue }}
  <MoneyEditor v-model=" modelValue " v-model:currency=" currency " />
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
