<!-- ~/pages/[slug].vue -->
<script setup>
const route = useRoute()
console.log(route.params.slug)
const { data: mountain } = await useFetch(`https://api.nuxtjs.dev/mountains/${route.params.slug}`)
</script>

<template>
  <div>
    <h1>{{ mountain.title }}</h1>
    <p>{{ mountain.description }}</p>
  </div>
</template>