<script setup lang="ts">
import { ref, computed } from 'vue'
const password = ref<string>('')
const props = defineProps( {
  minLength: { type: Number, required: true }
} )

// ❌ fail
const error = computed<string|undefined>( () => {
  if ( password.value.length < props.minLength ) {
    return `Password must be at least ${props.minLength} characters.`
  }
  return
})
</script>

<template>
  <div>
    <input v-model=" password ">
    <div v-if="password.length < minLength">{{ `Password must be at least ${minLength} characters.` }}</div>
    <!-- begin:: ❌ fail -->
    <div v-if="error">{{ error }}</div>
    <!-- end:: ❌ fail -->
  </div>
</template>

<style scoped></style>
