<script>
const title = ref('My home page as Page Meta')

// meta data
definePageMeta({
  // title, // ❌ This will create an error
  title: 'My home page as Page Meta',
  key: 'static'
})

</script>
<template>
  <Text/>
</template>