<script setup lang="ts">
import {ref} from 'vue'
const email = ref<string>('')
// type-based
const emit = defineEmits<{
  (e: 'submit', value: string): void
}>()
const submit = () => {
  emit('submit', email.value)
}
</script>

<template>
  <div>
    <input type="email" v-model="email" />
    <button @click="submit">Submit</button>
  </div>
</template>

<style scoped></style>