<script setup lang="ts">
// const route = useRoute()
</script>

<!-- app.vue -->
<template>
  <div>
    <nav class="flex align-center gap-4 p-4">
      <NuxtLink to="/" class="n-link-base">index</NuxtLink> | 
      <NuxtLink to="/users-admins/1" class="n-link-base">/users-admins/1</NuxtLink> | 
      <NuxtLink to="/users-admins/2" class="n-link-base">/users-admins/2</NuxtLink> |
      <NuxtLink to="/users-operator/2" class="n-link-base">/users-operator/2</NuxtLink>
    </nav>
    <!-- Markup shared across all pages, ex: NavBar -->
    <NuxtPage />
  </div>
</template>
