<script setup lang="ts">
import {useCounterStore} from '@/stores/counter'

const store = useCounterStore()

const getUserById = store.getUserById
const otherGetter = store.otherGetter

</script>

<template>
  <p>Double count is {{ store.doubleCount }}</p>
  <p>User 2: {{ getUserById(2) }}</p>
  <p>other store: {{ otherGetter }}</p>
</template>

