@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

:root{
    --green1: #68AE28;
    --green2: #006359;
    --red1: #EF8200;
    --red2: #E50020;
    --blue1: #AFCEE5;
    --blue2: #3396CD;
    --black1: #006A6B;
    --black2: #333;
    --brown1: #BF794E;
    --brown2: #91301D;
    --gray1: #D2DDF0;
    --gray2: #ADB2B4;
    --pink1: #F7C6BD;
    --pink2: #D08690;
    --purple1: #CD91BE;
    --purple2: #91308C;
    --white1: #f1f1f1;
    --white2: #D3EBEA;
    --yellow1: #FFE100;
    --yellow2: #F9BE00;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--white1);
    display: grid;
    place-content: center;
    box-sizing: border-box;
    user-select: none;
}
.frame{
    position: relative;
    width: min(90vw, 600px);
    aspect-ratio: 2.5/3;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    font-size: min(7vw,40px);
    font-family: 'Open Sans', Helvetica, sans-serif;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .speak-icone{
        position: absolute;
        color: white;
        top: 5%;
        left: 5%;
        font-size: 60px;
    }
    .hide{
        opacity: 0;
    }
    .description{
        position: absolute;
        bottom: 10px;
        font-size: .45em;
        white-space: nowrap;
    }
    img{
        width: 80%;
        max-height: 75%;
        cursor: pointer;
        filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.5));
    }
    .name{
        position: absolute;
        width: 90%;
        bottom: 5%;
        left: 5%;
        padding: 5px 10px;
        border-radius: 35px;
        background-color: rgba(255,255,255,0.5);
        backdrop-filter: blur(25px);
        display: flex;
        justify-content: space-between;
        z-index: 5;
    }
    .previous, .next{
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .pokemonId{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@mixin setBgColor($color){
    background: radial-gradient(circle, white 0%, white 50%, var($color+1) 50%, var($color+2) 100%);
    background-size: 100% 200%;
}

[data-bg-color="green"]{
    @include setBgColor(--green)
}
[data-bg-color="red"]{
    @include setBgColor(--red)
}
[data-bg-color="blue"]{
    @include setBgColor(--blue)
}
[data-bg-color="black"]{
    @include setBgColor(--black)
}
[data-bg-color="brown"]{
    @include setBgColor(--brown)
}
[data-bg-color="gray"]{
    @include setBgColor(--gray)
}
[data-bg-color="pink"]{
    @include setBgColor(--pink)
}
[data-bg-color="purple"]{
    @include setBgColor(--purple)
}
[data-bg-color="white"]{
    @include setBgColor(--white)
}
[data-bg-color="yellow"]{
    @include setBgColor(--yellow)
}