<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useCounterStore } from "@/stores/counterOption";

const counter = useCounterStore()

console.log(counter)

// This will also create refs for properties added by plugins
// but skip any action or non reactive (non ref/reactive) property
// ❌ Esto no funcionará porque rompe la reactividad.
// es lo mismo que desestructurar desde `props`
// const { count, doubleCount } = counter
// ✅ este será reactivo
const { count, doubleCount } = storeToRefs(counter)
// the increment action can just be extracted
 const { increment } = counter

// if (process.server) {
//   counter.n = 20
// }
</script>
<template>
  <div>
    <p data-testid="counter-values">Counter: {{ counter.count }}. Double: {{ counter.doubleCount  }}</p>
    <p data-testid="counter-values">Counter: {{ count }}. Double: {{ doubleCount }}</p>
    <p>Increment the Store:</p>
    <button @click="counter.increment()" data-testid="increment">+1</button>
    <button @click="increment()" data-testid="increment">+1</button>
    <p>Input:</p>
    <input type="text" v-model="counter.name" />
    <hr />
    <p>
      Complete store state via
      <code>store.$state</code>:
    </p>
    <pre>{{ counter.$state }}</pre>
  </div>
</template>

<style scoped>
button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
</style>