<script setup lang="ts">
import { Field, Form, ErrorMessage } from 'vee-validate';
import * as yup from 'yup';

interface Values{
  password: string, 
  passwordConfirmation: string
}

const schema = yup.object().shape({
  password: yup.string().min(5).required(),
  passwordConfirmation: yup
    .string()
    .required()
    .oneOf([yup.ref('password')], 'Passwords do not match'),
});

function onSubmit(values: Values) {
  alert(JSON.stringify(values, null, 2));
}
</script>

<template>
  <div>
    <h1>vee-validate cross-field Validation</h1>

    <Form @submit="onSubmit" :validation-schema="schema">
      <p>
        These inputs use `yup` to perform validation. The confirmation field
        makes use of <strong>`yup.string.oneOf`</strong> rule with
        <strong>`Yup.ref`</strong> to target another field's value.
      </p>

      <div>
        <label for="password">Password</label>
        <Field id="password" name="password" type="password" />
        <ErrorMessage name="password" />
      </div>

      <div>
        <label for="passwordConfirmation">Confirm Password </label>
        <Field
          id="passwordConfirmation"
          name="passwordConfirmation"
          type="password"
        />
        <ErrorMessage name="passwordConfirmation" />
      </div>

      <button type="submit">Submit</button>
    </Form>
  </div>
</template>
