<template>
  <header>
    <nav>
      <ul>
        <li><NuxtLink to="/dashboard">dashboard</NuxtLink></li>
        <li><NuxtLink :to="{name:'dashboard'}">dashboard (with params)</NuxtLink></li>
        <li><NuxtLink to="/posts/1">Post 1</NuxtLink></li>
        <li><NuxtLink to="/posts/2">Post 2</NuxtLink></li>
        <li><NuxtLink :to="{name:'posts-id', params: {id: 3}}">Post 3 (with params)</NuxtLink></li> 
        <li><NuxtLink to="/posts/manolo">Post manolo</NuxtLink></li>
        <li><NuxtLink :to="{name:'posts-id', params: {id: 'pepe'}}">Post manolo (with params)</NuxtLink></li> 
      </ul>
    </nav>
  </header>
</template>