<template>
  <p class="paragraph">Times clicked: {{ counter }}</p>
  <button @click=" increase ">increment</button>
</template>

<script setup lang="ts">
import { useCounter } from '@/composables/useCounter'
const { counter, increase } = useCounter()
console.log(counter.value)
</script>