<script setup lang="ts">
defineProps({
  modelValue: { type: [Number, String], default: 0 },
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: number): void
  (e: 'input', value: number): void
}>();
// const updateValue = (value) => emit("update:modelValue", value);
const updateValue = (value) => {
  emit("update:modelValue", value);
};
</script>
<template>
  <span>
    <button
      class="cursor-pointer bg-gray-200 px-2 rounded-l"
      @click="updateValue((modelValue as number)> 0 ? (modelValue as number) - 1 : 0)"
    >
      -
    </button>
    <!-- <input :value="modelValue" type="number" min="0" @input="updateValue" /> -->
    <input
      :value="modelValue"
      type="number"
      min="0"
      @input="updateValue($event.target.value)"
    />
    <button
      class="bg-gray-200 px-2 rounded-r cursor-pointer"
      @click="updateValue((modelValue as number) + 1)"
    >
      +
    </button>
  </span>
</template>

<style scoped>
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
  border: 1px solid gray;
  @apply border-gray-500 w-10 text-center;
}
button {
  border: 1px solid gray;
}
</style>
