<template>
  <div>
    <label>{{label}}</label>
    <input :value="modelValue" @input="emit('update:modelValue', $event.target.value)">
  </div>
</template>
<script setup lang="ts">
const props = defineProps( {
  label: { type: String},
  modelValue: { type: String, required: true }
} )

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void
}>()
</script>