<script setup lang="ts">
import { useField } from "vee-validate";
// components
import BaseButton from "@/components/BaseButton.vue";
import BaseInput from "@/components/BaseInput.vue";
//
const onSubmit = function onSubmit(): void {
  alert('Submitted')
}

// const email = useField('email', function (value) {
const { value: email, errorMessage: emailError } = useField<string>('email', function (value) {
  // input is required validation
  if (!value) return "This field is required"
  // is email
  const regex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
  if (!regex.test(String(value).toLowerCase())) {
    return 'Please enter a valid email address'
  }
  return true
})

// const emailData = email.value
// const errorMessage = email.errorMessage

</script>

<template>
  <form @submit.prevent="onSubmit">
    <!-- <BaseInput label="Email" type="email"/> -->
    <!-- <BaseInput label="Email" type="email" v-model="emailData" :error="errorMessage" /> -->
    <BaseInput label="Email" type="email" v-model="email" :error="emailError" />
    <BaseInput label="Password" type="password" />

    <BaseButton type="submit" class="-fill-gradient">
      Submit
    </BaseButton>
  </form>
</template>

