<template>
  <div>
    <Title>Demo of @nuxtjs/color-mode</Title>
    <ColorModePicker />
    <p>
      Go to
      <NuxtLink to="/light">
        light page
      </NuxtLink>
    </p>
  </div>
</template>