<script setup lang="ts">
/* import the environment variables defined in nuxt.config.ts */
const runtimeConfig = useRuntimeConfig()
/* import the application configuration defined in app.config.ts */
const appConfig = useAppConfig()
</script>
<template>
  <div>
    <!-- se ve en la carga inicial pero luego desaparece -->
    <p>clave en server: {{ runtimeConfig.apiSecret }}</p>
    <p>clave en client: {{ runtimeConfig.public.apiBase }}</p>
    <code>{{ appConfig }}</code>
  </div>
</template>