<script setup lang="ts">
import {ref} from 'vue'

const count = ref<number>(0)
const handleClick = () => count.value += 1
</script>

<template>
    <p>Count: {{ count }}</p>
    <button @click="handleClick">Increment</button>
</template>

<style scoped>
</style>
