<!-- pages/index.vue -->
<template>
  <div>
    <NuxtLayout name="custom">
      <template #header> 
        <AppHeader />
        <div class="alert alert-primary" role="alert">
          Some header template content. 
        </div>
      </template>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">The rest of the page</p>
        </div>
      </div>
      
    </NuxtLayout>
  </div>
</template>
<script setup>
definePageMeta({
  layout: false,
});
</script>