<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import { useCounterStore } from '@/stores/01.composition/counter.ts'

const counterStore = useCounterStore()
</script>

<template>
  {{ counterStore.count }}
  <button @click="counterStore.increment" > + 1 </button>
</template>

<style scoped></style>
