<template>
  <button @click=" redirect ">Click to Edit</button>
</template>
<script setup lang="ts">
import { ref } from 'vue'
import { useRoute } from 'vue-router'
import router from '@/router'

const isAuthenticated = ref<boolean>( false )
const route = useRoute() 
// console.log(route.params)

const redirect = () => {
  if ( isAuthenticated ) {
    // console.log(route.params.id)
    router.push( `/post/${route.params.id}/edit` )
  } else {
    router.push( '/404' )
  }
}
</script>