<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useCounterStore } from '@/stores/counterComposition'

const counter = useCounterStore()

console.log(counter)

// with destructuring
const {count, doubleCount } = storeToRefs(counter)

const {increment} = counter
</script>
<template>
<div>
  <p >counter: {{ counter.count }} Double: {{ counter.doubleCount }}</p>
  <p >counter: {{ count }} Double: {{ doubleCount }}</p>
  <p>Increment in store:</p>
  <button @click="counter.increment()">+1 ('counter.increment()')</button>
  <button @click="increment()">+1 ('increment()')</button>
  <p>input:</p>
  <input type="text" v-model="counter.name"/>
  <hr />
  <p>
    Complete state store via: <code>store.$state</code>

  </p>
  <pre>{{ counter.$state }}</pre>
</div>

</template>

<style scoped>
button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
</style>