<script setup lang="ts">
definePageMeta({
  layout: false,
});

function enableCustomLayout() {
  setPageLayout('custom')
}
</script>

<template>
  <div>
    <h1>page <span class="badge badge-secondary">change design</span></h1>
    <button class="btn btn-primary" @click="enableCustomLayout">activate layout</button>
  </div>
</template>