
import ComplexA from './ComplexA.vue';

<script setup lang="ts">
import ComplexA from '@/views/02.composition/ComplexA.vue'
import ComplexB from '@/views/02.composition/ComplexB.vue'
import ComplexC from '@/views/02.composition/ComplexC.vue'
</script>
<template>
  <h1>Welcome to Vue.js 3</h1>
  <ComplexA />
  <ComplexB />
  <ComplexC />
</template>