<script setup lang="ts">

const todos: { id: number, text: string, completed: boolean }[] = [
  {
    id: 1,
    text: 'Learn Vue.js 3',
    completed: false
  }
];
</script>

<template>
  <div>
    <div v-for="todo in todos" :key=" todo.id " data-test="todo">
      {{ todo.text }}
    </div>
  </div>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
