<script setup lang="ts">
import { Form, ErrorMessage } from 'vee-validate';
import * as yup from 'yup';
import CustomCheckbox from './components/CustomCheckbox.vue';

interface Schema {
  drinks: string[]
}
const schema = yup.object({
  drinks: yup.array().of(yup.string().required()).required(),
});

function onSubmit(values: Schema) {
  alert(JSON.stringify(values, null, 2));
}
</script>

<template>
  <div>
    <h1>vee-validate custom checkboxes</h1>

    <Form @submit="onSubmit" :validation-schema="schema">
      <CustomCheckbox name="drinks" value="☕️" />
      <CustomCheckbox name="drinks" value="🍵" />
      <CustomCheckbox name="drinks" value="🥤" />

      <ErrorMessage name="drinks" />

      <button type="submit">Submit</button>
    </Form>
  </div>
</template>
