<script setup lang="ts">
import axios from 'axios'
interface Info {
  base_experience: string
}

const {data} = await axios
    .get<Info>(' https://pokeapi.co/api/v2/pokemon/ditto')
const info: Info = await data
console.log( info )
</script>

<template>
  <p v-if="info"> ditto tiene :{{ info.base_experience }} de experiencia</p>
</template>