<script setup lang="ts">
import { useEventBus } from '@vueuse/core'

const { emit } = useEventBus<string>('vue-use-event-bus')
</script>
<template>
  <div>
    <div class="whitespace-nowrap">
      News channel:
    </div>
    <button class="whitespace-nowrap" @click="emit('The Tokyo Olympics has begun')">
      Broadcast
    </button>
  </div>
</template>