<!-- TODO -->
<script setup lang="ts">
const props = defineProps( {
  modelValue: { type: String, required: true },
  label: { type: String, required: true }
} )

const emit = defineEmits<{
  ( e: 'update:modelValue', value: string ): void
}>()

</script>

<template>
  <label>
    {{ label }}
    <input type="text" :value=" modelValue " @input=" emit( 'update:modelValue', $event.target.value ) " />
  </label>
</template>

<style scoped>

</style>