<!-- src/App.vue -->
<script setup lang="ts">
import DynamicForm from '@/components/DynamicForm.vue';
import type { Schema } from '@/types/form';
import * as Yup from 'yup';

const formSchema: Schema = {
  fields: [
    {
      label: 'Your Name',
      name: 'name',
      as: 'input',
      rules: Yup.string().required(),      
    },
    {
      label: 'Your Email',
      name: 'email',
      as: 'input',
      rules: Yup.string().email().required(),
    },
    {
      label: 'Your Password',
      name: 'password',
      as: 'input',
      type: 'password',
      rules: Yup.string().min(6).required(),
    },
    {
      label: 'Favorite Drink',
      name: 'drink',
      as: 'select',
      children: [
        {
          tag: 'option',
          value: '',
          text: '',
        },
        {
          tag: 'option',
          value: 'coffee',
          text: 'Coffeee',
        },
        {
          tag: 'option',
          value: 'tea',
          text: 'Tea',
        },
        {
          tag: 'option',
          value: 'coke',
          text: 'Coke',
        },
      ],
    },
  ],
};
</script>
<template>
  <DynamicForm :schema="formSchema" />
</template>