<script setup lang="ts">
definePageMeta({
  pageTransition: {
    name: 'page',
    mode: 'out-in', // default
    onBeforeEnter: (el) => {
      console.log('Before enter...', el)
    },
    onEnter: (el, done) => {
      console.log(el, done)
    },
    onAfterEnter: (el) => {
      console.log(el)
    }
  }
})
</script>
<template>
  <div>
    <h1>About page</h1>
    <NuxtLink to="/">Home page</NuxtLink>
  </div>
</template>