<script setup lang="ts">
import { Form } from 'vee-validate';
import * as Yup from 'yup';
import CurrencyInput from './components/CurrencyInput.vue';

interface Schema {
  amount: number
}

const schema = Yup.object({
  amount: Yup.number().required().max(1000).min(100),
});

const currencyOptions = {
  currency: 'USD',
};
</script>

<template>
  <h1>Currency Example</h1>
  <p>
    The `&lt;CurrencyInput /&gt;` component integrates both vee-validate and
    `vue-currency-input` to achieve validatable formattable currency input.<br />
    <br />
    This allows you to still validate the value as a number while having freedom
    to make it more friendly towards the user.
  </p>

  <Form :validation-schema="schema">
    <CurrencyInput name="amount" :options="currencyOptions" />
  </Form>
</template>
