<script setup lang="ts">
import SimpleForm from '@/views/SimpleForm.vue'
import ComponentsForm from '@/views/ComponentsForm.vue'
</script>

<template>
  <div id="app">
    <SimpleForm />
    <hr>
    <ComponentsForm />
  </div>
</template>

<style scoped>
</style>
