<script setup lang="ts">
import { Ref } from 'vue'
import { useMyApi } from '@/composables/useMyFetch.ts';

const route = useRoute()
// console.log(route.name)
const number = ref( Number( route.params.number ) )

interface Pokemon {
  name: string
}
// const pokemon = ref<Pokemon>()
// const { data } = await useFetch(() => `/api/hello/${number.value}`, { params: { token: 123 } })
const { pending, data: pokemon } = await useMyApi( `/pokemon-species/${number.value}`, { server: false } )

const imageUrl = ref( `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/${number.value}.svg` )
const previousLink = number.value == 1 ? String( 600 ) : String( number.value - 1 )
const nextLink = String( number.value + 1 )
</script>

<template>
  <div class="frame" data-bg-color="green">
    <div class="speak-icone hide">
      <i class="fa-solid fa-volume-high"></i>
    </div>
    <div class="description">Clique sur l'image pour entendre le nom</div>
    <div v-if=" pending ">
      Loading ...
    </div>
    <div v-else>
      <img v-if="(pokemon as Pokemon).name" :src=" imageUrl " :alt="(pokemon as Pokemon).name" id="pokemonImage">
      <div class="name">
        <NuxtLink :to=" previousLink " class="previous">
          <i class="fa-solid fa-arrow-left"></i>
        </NuxtLink>
        <div class="pokemonId">
          <div id="pokemonNumber">{{ number }}</div>
          <div v-if="(pokemon as Pokemon).name" id="pokemonName">{{ (pokemon as Pokemon).name }}</div>
        </div>
        <NuxtLink :to=" nextLink " class="next">
          <i class="fa-solid fa-arrow-right"></i>
        </NuxtLink>
      </div>
    </div>

  </div>
</template>