<!-- layouts/custom.vue -->
<template>
  <div id="custom">
    <header>
      <slot name="header">
        <AppHeader />
      </slot>
    </header>
    <main>
      <slot />
    </main>
  </div>
</template>