<script setup>
const localePath = useLocalePath()
console.log(localePath)
</script>
<template>
  <div>
      <NuxtLink :to="localePath('index')">{{ $t('home') }}</NuxtLink> | 
      <NuxtLink :to="localePath('/')">{{ $t('home') }}</NuxtLink> | 
      <NuxtLink :to="localePath('index', 'en')">Homepage in English</NuxtLink> | 
      <NuxtLink :to="localePath('/user/profile')">Route by path to: {{ $t('profile') }}</NuxtLink> | 
      <NuxtLink :to="localePath('user-profile')">Route by name to: {{ $t('profile') }}</NuxtLink> | 
      <NuxtLink :to="localePath({ name: 'category-slug', params: { slug: 'deals' } })">
        deals
      </NuxtLink>
    <NuxtPage />
  </div>
</template>
