<script setup lang="ts">
import { ref } from 'vue'

const props = defineProps( {
  show: { type: Boolean, default: true }
} )
const greeting = ref<string>('Hello')
</script>

<template>
  {{ show }}
  <div v-if="show">{{ greeting }}</div>
</template>

